*{
    margin: 0;
    padding: 0;
}
.haut{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2022/11/15/06/35/night-7593233__340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.info {
    width: 70%;
    height: 100px;
    border: 1px solid orange;
    background-color: orange;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px; */
}
.adress{
     display: flex;
     height: 30px;
     /* flex-direction: row; */
     flex-wrap: wrap;
     justify-content: center;
      margin-top: 20px;
     font-size: large;
     color: white;
     font-size: large;
     font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
    .info{
       height: 200px;
    }
    .adress p{
        margin-bottom: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
   .info{
      height: 200px;
    }
    .adress p{
        margin-bottom: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    button{
       margin-bottom: 300px;
    }
}
@media screen and (max-width: 576px){
    button{
        margin-bottom: 200px;
     }
}
button{
    position: relative;
    margin-top: 200px;
    background-color: orange;
    color: white;
    padding: 5px;
    font-size: x-large;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.2);
}

.coordonne{
    display: flex;
    justify-content: center;
    margin-top: 440px;
    width: 50%;
    height: 500px;
    position: absolute;
    border: 1px solid white;
    background-color: white;
}
.picture img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    bottom: 370px;
}
.text{
    text-align: center;
    margin-top: 160px;
    font-family: arial;
}
h2{
    color: orange;
}
text p{
    padding: 10px;
}
.date{
    font-weight: 600;
}
.icon{
    margin-top: 40px;
    position: absolute;
    bottom: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.uno{
    padding: 10px;
    width: 25px;
    height: 24px;
    background: darkorchid;
    border-radius: 80%;
}
.uno ion-icon{
    width: 20px;
    height: 20px;
}
.uno:hover{
    background-color: orange;
}
/* .icon:hover{
    background-color: darkorchid;
} */
progress{
    width: 50px;
}
.progress{
   padding-left: 100px;
    float: left;
    margin-top: 300px;
}

.progress h5{
    font-size: 50px;
    font-weight: 900;
}
.progress h6{
    font-size: 20px;
}
.liste{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 400px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}
.liste ul{
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-align: center;
    justify-content: center;
   gap: 15px;
}
.liste li{
   list-style: none;
   text-decoration: none ;
}
.liste a{
    text-decoration: none;
    color: grey;
    list-style: none;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.liste a:hover{
    color: orange;
}
.gallery{
    position: relative;
}
.grid{
     line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 3;
    -moz-column-count: 3;
    -moz-column-gap: 3;
    column-count: 3;
    column-gap: 3;
}
.grid img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    .grid{
        display: flex;
        flex-flow: wrap;
    }
}
@media screen and (max-width: 576px){
   .grid{
    display: flex;
    flex-flow: wrap;
}
}
@media screen and (max-width: 768px) {
    .back{
       padding-bottom: 20px;
    }
}
@media screen and (max-width: 576px){
   .back{
    padding-bottom: 20px;
}
}
.about{
 padding-left: 100px;
 margin-top: 60px;
}
.about h5{
    font-size: 40px;
}
.about p{
    color: gray;
    font-size: 20px;
}
.para{
    text-align: center;
    color: gray;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .para{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}
@media screen and (max-width: 576px){
   .para{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
.pourcentage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin: auto;
}
svg{
    width: 170px;
    height: 170px;
}
svg circle{
    fill: none;
    stroke: #ffab00;
    stroke-width: 4px;
    transform: translate(5px,5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
}
.circle1{
    stroke-dashoffset: 20;
}
.circle2{
    stroke-dashoffset: 80;
}
.circle3{
    stroke-dashoffset: 150;
}
.circle4{
    stroke-dashoffset: 20;
}
@media screen and (max-width: 768px) {
    .circle{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}
@media screen and (max-width: 576px){
   .circle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
}
.pourcentage span{
    font-size: 20px;
    position: relative;
    right: 130px;
    top: 60px;
    color: black;
}
@media screen and (max-width: 768px) {
    .pourcentage .span1 .span2 .span3 .span4 h4{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
}
@media screen and (max-width: 576px){
   .pourcentage .span1 .span2 .span3 .span4 h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
h4{
    position: relative;
    right: 170px;
    padding-top: 10px;
    top: 60px;
    color: gray;
    margin-top: 20px;
}
.container{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: #28023D;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
    }
}
@media screen and (max-width: 576px){
   .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
}
.container .text2{
    padding-top: 50px;
    margin-top: 50px;
    /* float: right; */
    text-align: center;
    margin-left: 100px;
}
.text1{
    margin: 50px;
   padding-top: 50px;
}
.text1 h1{
    color: white;
}

.text1 p{
    color: grey;
    font-weight: 700;
}
.text2 h1{
    font-size: xx-large;
    color: white;
}
.text2 h2{
    font-size: x-large;
}
.text2 p{
    font-size: large;
    color: white;
    margin-bottom: 40px;
}
.text2 h3{
    font-size: x-large;
    color: white;
}
.rond{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 100px;
}


.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 210px;
}
.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto;
    width: 700px;
    border-left: 2px solid gray;
    padding: 0 45px 0 24px;
}
.timeline h5{
    color: gray;
}
.content::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffab00;
    border: 10px solid orangered;
    position: absolute;
    top: 10px;
    left: -40px;
}
.content::after{
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent orangered transparent transparent;
    opacity: 2.3;
}
.content{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   text-align: center;
    padding: 10px 25px;
    font-size: x-large;
    position: relative;
    margin-bottom: 20px;
} 
/* .contenu .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
@media screen and (max-width: 768px) {
    .timeline{
        display: inline-block;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 576px){
   .timeline{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
}
/* @media screen and (max-width: 768px) {
    .timeline{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .timeline{
        display: none;
    }
} */
.formation h1{
    color: black;
}
.level{
    width: 100%;
    height: 210px;
}
.level{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/03/05/33/the-sun-3057622__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.chiffre{
    font-size: 50px;
    font-weight: 900;
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .chiffre{
        display: inline-block;
        flex-wrap: wrap;
}
}
@media screen and (max-width: 576px){
    .chiffre{
        display: inline-block;
        flex-wrap: wrap;
}
}
.level p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #28023D;
    margin-top: 20px;
}
.pied{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pied p{
    text-align: center;
    margin-top: 30px;
    display: flex;
    color: gray;
}
